<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>president.io</title>
        <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/login.css">
        <link rel="stylesheet" href="css/lobby.css">
        <link rel="stylesheet" href="css/player.css">
        <link rel="stylesheet" href="css/settings.css">
        <link rel="stylesheet" href="css/game.css">
    </head>

    <body>

        <div id="login">
            <div class="left-side">
                <div class="container">
                    <h1>president.io</h1>
                    <p>
                        Jouez au jeu du Président (trou du cul) en ligne.<br><br>
                        Pour créer une partie, rentrez un pseudo et cliquez sur "Créer une partie", vous obtenez un code de partie que vous pouvez partagez à vos amis.<br><br>
                        Pour rejoindre une partie, rentrez votre pseudo et le code de la partie puis cliquez sur "Rejoindre la partie".
                    </p>
                </div>
            </div>
            <div class="right-side">
                <div class="container">
                    <h2>Se connecter</h2>
                    <div class="form">
                        <input type="text" name="pseudo" id="pseudo" placeholder="Votre pseudo"><br>
                        <button id="create_board">Créer une partie</button><br>
                        <p class="warning">Le pseudo doit contenir entre 3 et 20 caractères.</p>
                        <input type="text" name="id_board" id="id_board" placeholder="Code de partie (____)"><br>
                        <button id="join_board">Rejoindre la partie</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="main">
            <div id="players" class="open">
                <div class="collapse">
                    <i class="material-icons close">chevron_left</i>
                    <i class="material-icons open">group</i>
                </div>
                <header>
                    <h2>Code Partie | <span class="code_party"></span></h2>
                </header>
            </div>
            <div id="board">
                <div id="settings">
                    <h2>Paramètres de partie</h2>
                    <!-- <div class="set_color">
                        <h3>Choisir une couleur</h3>
                        <div class="colors">
                            <label class="container">
                                <input type="radio" checked="checked" name="radio">
                                <span class="checkmark Alpha"></span>
                            </label>
                            <label class="container">
                                <input type="radio" name="radio">
                                <span class="checkmark Beta"></span>
                            </label>
                            <label class="container">
                                <input type="radio" name="radio">
                                <span class="checkmark Gamma"></span>
                            </label>
                            <label class="container">
                                <input type="radio" name="radio">
                                <span class="checkmark Delta"></span>
                            </label>
                            <label class="container">
                                <input type="radio" name="radio">
                                <span class="checkmark Epsilon"></span>
                            </label>
                            <label class="container">
                                <input type="radio" name="radio">
                                <span class="checkmark Zeta"></span>
                            </label>
                        </div>
                    </div> -->
                    <div class="start_game">
                        <h3>Lancement de la partie</h3>
                        <p>
                            Il faut 4 joueurs minimum pour lancer une partie, vos amis peuvent vous rejoindre avec votre code de partie.<br><br>
                            Votre code de partie est <span class="code_party"></span><br>
                            Nombre de joueurs dans votre partie : <span class="nb_players"></span> / 6
                        </p>
                        <button class='disabled' onclick="start_game()" disabled>Lancer la partie</button>
                    </div>
                </div>
                <div id="game">
                    <div class="top">
                        <div id="board_cards">
                            <div class="bot">
                                <h3>Informations</h3>
                                <div id="msg">
                                    
                                </div>
                            </div>
                            <div class="container">
                                <div class="cards">
                                    
                                </div>
                            </div>
                        </div>
                        <div id="info">
                            <div class="ranking">
                                <h3>Classement</h3>
                                <div class="places">
    
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="bottom">
                        <div id="hand">
                            
                        </div>
                        <div id="options">
                            <p class="my_name"></p>
                            <div class="btn play_card">
                                <i class="material-icons" style="vertical-align:bottom">arrow_upward</i>
                                <button id="play_this_card" onclick="play_card()">Jouer ces cartes</button>
                            </div>
                            <div class="btn fold">
                                <i class="material-icons" style="vertical-align:bottom">pan_tool</i>
                                <button id="fold" onclick="fold()">Passer son tour</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <audio id="wow"src="song/wow.mp3" type="audio/ogg">Your browser does not support the audio element.</audio>
        <audio id="turn"src="song/turn.mp3" type="audio/ogg">Your browser does not support the audio element.</audio>
        <audio id="triple"src="song/triple.mp3" type="audio/ogg">Your browser does not support the audio element.</audio>
        <audio id="jump"src="song/jump.mp3" type="audio/ogg">Your browser does not support the audio element.</audio>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="BoardClient.js"></script>
        <script src="Card.js"></script>
        <script src="Player.js"></script>
        <script src="Ranking.js"></script>
        <script src="js/json_fct.js"></script>
        <script src="js/players.js"></script>
        <script src="js/settings.js"></script>
        <script src="js/rules.js"></script>
        <script src="js/login.js"></script>
        <script src="js/lobby.js"></script>
        <script src="js/effect.js"></script>
        <script src="js/game.js"></script>

    </body>
</html> 