#board{
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: opacity 0.5s, width 1s;
    position: relative;
    background-color: rgb(35, 35, 35);
}

#main{
    z-index: 2;
    width: 100%;
    height: 100%;
    display: none;
    grid-template-columns: 350px auto;
    transition: all 0.5s ease;
}

#settings h3{
    text-transform: uppercase;
}

#settings h3 i{
    color: red;
}

#settings span.code_party{
    color: red;
}

#settings .set_color .colors{
    display: flex;
    margin-bottom: 140px;
}

#settings .set_color .colors .container {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
#settings .set_color .colors .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#settings .set_color .colors .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
*/