#login{
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
}
#login .left-side{
    width: 0%;
    background: linear-gradient(90deg, rgba(10,10,10,0.8) 0%, rgba(10,10,10,0.8) 100%), url('../img/playing_cards.jpg');
    background-size: cover;
    transition: width 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 10% 10% 0%;
    
}

#login .left-side .container{
    font-weight: bold;
    color: white;
}

#login .left-side .container p{
    color: rgb(210,210,210);
    letter-spacing: 1px;
}


#login .right-side{
    background-color: rgb(10,10,10);
    width: 40%;
    padding: 10% 5% 0%;
}

#login .right-side .container h2{
    color: rgb(240, 240, 240);
}

#login .right-side .form > *{
    margin-bottom: 5px;
    text-align: left;
}

#login .right-side .form input{
    width: 100%;
    max-width: 300px;
    padding: 0.7em 1em;
    border: none;
    background-color: rgb(230,230,230);
}

#login .right-side .form #id_board{
    margin-top: 30px;
}

#login .right-side .form .warning{
    display: none;
    color: rgb(219, 35, 35);
}