body{
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(20,20,20);
}

*{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

h2{
    color: rgb(240,240,240);
}

h3{
    color: rgb(225,225,225);
}

p{
    font-size: 20px;
    color: rgb(210,210,210);
}

.disabled{
    cursor: not-allowed !important;
    background: rgb(160, 160, 160) !important;
}

button{
    color: rgb(41, 41, 41);
    border: none;
    max-width: 300px;
    width: 100%;
    background-color: rgb(232, 185, 18);
    padding: 0.7em 1em;
    cursor: pointer;
    transition: 0s;
}

button:hover{
    background-color: rgb(255, 207, 35);
}

input, button{
    font-size: 1em;
}