body{
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(20,20,20);
}

*{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

h2{
    color: rgb(240,240,240);
}

h3{
    color: rgb(225,225,225);
}

p{
    font-size: 20px;
    color: rgb(210,210,210);
}

.disabled{
    cursor: not-allowed !important;
    background: rgb(160, 160, 160) !important;
}

button{
    color: rgb(41, 41, 41);
    border: none;
    max-width: 300px;
    width: 100%;
    background-color: rgb(232, 185, 18);
    padding: 0.7em 1em;
    cursor: pointer;
    transition: 0s;
}

button:hover{
    background-color: rgb(255, 207, 35);
}

input, button{
    font-size: 1em;
}

#game{
    padding: 20px 20px 20px 0px;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}

#game h3{
    padding: 0.5em 1em;
    margin: 0;
    color: white;
    background-color: rgb(10,10,10);
}

#game p{
    color: rgb(200, 200, 200);
}

#game #info{
    position: relative;
    height: 100%;
    width: 49%;
    display: flex;
    justify-content: space-between;
}

#game #info .ranking{
    width: 100%;
    height: 100%;
    background-color: rgb(20, 20, 20);
}


#game #board_cards .bot #msg::-webkit-scrollbar {   
    display: none;
}

#game #board_cards{
    position: relative;
    height: 100%;
    width: 49%;
    display: flex;
    flex-direction: column;
}

#game #board_cards .container{
    position: relative;
    width: 100%;
    height: 40%;
}


#game #board_cards .card_msg{
    padding: 20px 5px;
    background-color: white;
    border-radius: 10px;
    margin-right: 1px;
    margin-bottom: 10px;
}

#game #board_cards .cards{
    height: 70%;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#game #board_cards .bot{
    width: 100%;
    height: 60%;
    background-color: rgb(20, 20, 20);
}

#game #board_cards .bot #msg{
    padding: 0em 1em;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}